/**************************************/
/*   THEME FOR 'MARCACIONES' PROJECT  */
/**************************************/

/*
    Description:
    -----------
    Here you will find all the styles of general components
    that can be used in the whole application
*/

/*Importing general variables*/

@import "../sass/general.scss";

/***************/
/*   CLASSES   */
/***************/

/*Buttons*/
.btn-aerolinea {
  width: 100%;
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 6px 18px;
  transition: all 300ms ease;

  &:hover {
    opacity: 0.8;
  }
}

.btn-aerolinea-cyan {
  @extend .btn-aerolinea;
  background-color: $aerolinea-cyan;
  color: $aerolinea-white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: $ff-gotham-medium;
}

.btn-aerolinea-red {
  @extend .btn-aerolinea;
  background-color: $aerolinea-red;
  color: $aerolinea-white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: $ff-gotham-medium;
}

.btn-aerolinea-green {
  @extend .btn-aerolinea;
  background-color: $aerolinea-green;
  color: $aerolinea-white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: $ff-gotham-medium;
}

.btn-aerolinea-yellow {
  @extend .btn-aerolinea;
  background-color: $aerolinea-yellow;
  color: $aerolinea-white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: $ff-gotham-medium;
}

.btn-aerolinea-gray-dark {
  @extend .btn-aerolinea;
  background-color: $aerolinea-gray-dark;
  color: $aerolinea-white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: $ff-gotham-medium;
}

.btn-outline-aerolinea-white {
  @extend .btn-aerolinea;
  background-color: transparent;
  border: 2px solid $aerolinea-white  !important;
  font-size: $font-size-small;
  border-radius: 15px;
  color: $aerolinea-white;
  transition: 300ms all ease;
  font-size: 12px;
  font-family: $ff-gotham-medium;

  &:hover {
    transform: scale(1.05);
    opacity: 1 !important;
  }
}

.icon-aerolinea {
  margin-right: 6px;
}

/*Header sizes*/

.h1-aerolinea {
  font-family: $ff-gotham-bold;
  font-size: $font-size-h1;
}

.h2-aerolinea {
  font-family: $ff-gotham-bold;
  font-size: $font-size-h2;
}
.h3-aerolinea {
  font-family: $ff-gotham-bold;
  font-size: $font-size-h3;
}
.h4-aerolinea {
  font-family: $ff-gotham-bold;
  font-size: $font-size-h4;
}
.h5-aerolinea {
  font-family: $ff-gotham-bold;
  font-size: $font-size-h5;
}
.h6-aerolinea {
  font-family: $ff-gotham-bold;
  font-size: $font-size-h6;
}


// /*btn small*/

.btn-sm-aerolinea {
  border-radius: 8px;
  border: none;
  font-size: $font-size-small;
  font-family: $ff-gotham-medium;
  outline: none;
  padding: 6px 18px;
  transform: scale(0.9);
  transition: all 300ms ease;
  white-space: nowrap;

  &:hover {
    opacity: 0.8;
  }

  &.keep {
    opacity: 1;

    &:hover {
      transform: scale(0.95);
    }
  }

  i {
    transform: scale(0.9);
  }
}

.btn-sm-aerolinea-yellow {
  @extend .btn-sm-aerolinea;
  background-color: $aerolinea-yellow;
  color: $aerolinea-white;
}

.btn-sm-aerolinea-view-later {
  @extend .btn-sm-aerolinea;
  background-color: #919191;
  color: $aerolinea-white;
}

.btn-sm-aerolinea-gray-dark {
  @extend .btn-sm-aerolinea;
  background-color: $aerolinea-gray-dark;
  color: $aerolinea-white;
}

.btn-sm-aerolinea-cyan {
  @extend .btn-sm-aerolinea;
  background-color: $aerolinea-cyan;
  color: $aerolinea-white;
}

// .btn-sm-aerolinea-gray-light {
//   @extend .btn-sm-aerolinea;
//   background-color: $aerolinea-gray-light;
//   color: $aerolinea-black;
// }



// /*Label style*/

label {
  margin-bottom: 0 !important;
}

.label-aerolinea {
  font-family: $ff-gotham-medium;
  font-size: $font-size-normal;
}

// /*Badge style*/

.badge-aerolinea {
  border-radius: 8px;
  font-family: $ff-gotham-medium;
  font-size: $font-size-extra-small;
  padding: 3px 6px;
  white-space: nowrap;
}

.badge-aerolinea-green {
  @extend .badge-aerolinea;
  background-color: $aerolinea-green;
  color: $aerolinea-white;
}

.badge-aerolinea-red {
  @extend .badge-aerolinea;
  background-color: $aerolinea-red;
  color: $aerolinea-white;
}

.badge-aerolinea-cyan {
  @extend .badge-aerolinea;
  background-color: $aerolinea-cyan;
  color: $aerolinea-white;
}

.badge-aerolinea-yellow {
  @extend .badge-aerolinea;
  background-color: $aerolinea-yellow;
  color: $aerolinea-white;
}

.badge-aerolinea-gray-dark {
  @extend .badge-aerolinea;
  background-color: $aerolinea-gray-dark;
  color: $aerolinea-white;
}

.badge-aerolinea-gray-light {
  @extend .badge-aerolinea;
  background-color: #A9A9A9;
  color: $aerolinea-white;
}

// /*select style*/

.ng-select {
  .ng-select-container {
    border-radius: 8px !important;
    border: 1.5px solid #C4C4C4;
    color: $aerolinea-black  !important;
    height: 36px !important;
    min-height: 36px !important;

    .ng-value-container {
      .ng-input>input {
        background: $aerolinea-white;
        color: $aerolinea-black  !important;
        font-family: $ff-avenirLTStd-book  !important;
        font-size: $font-size-normal  !important;
      }
    }
  }

  .ng-arrow-wrapper {
    .ng-arrow {
      border-color: #C4C4C4 transparent transparent !important;
    }
  }

  .ng-clear-wrapper {
    color: $aerolinea-gray-dark  !important;
  }

  &.ng-select-opened>.ng-select-container {
    .ng-arrow {
      border-color: transparent transparent #C4C4C4 !important;
    }
  }

  &.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    box-shadow: none !important;
  }
}

.ng-dropdown-panel {
  border: 1.5px solid #C4C4C4;

  &.ng-select-top {
    border-bottom-color: #C4C4C4 !important;
    border-radius: 8px !important;
    margin-bottom: -2px !important;
  }

  &.ng-select-bottom {
    border-bottom-color: #C4C4C4 !important;
    border-radius: 8px !important;
    margin-top: -2px !important;
  }

  .scroll-host {
    border-radius: 8px !important;
  }

  .ng-dropdown-panel-items {
    .ng-option.ng-option-marked {
      background-color: #f7f7f7 !important;
      color: $aerolinea-black  !important;
      font-family: $ff-avenirLTStd-book  !important;
      font-size: $font-size-normal  !important;
    }

    .ng-option {
      color: $aerolinea-black  !important;
      font-family: $ff-avenirLTStd-book  !important;
      font-size: $font-size-normal  !important;

      &.ng-option-selected {
        background-color: #ececec !important;
        color: $aerolinea-black  !important;
        font-family: $ff-avenirLTStd-book  !important;
        font-size: $font-size-normal  !important;

        &.ng-option-marked {
          background-color: #ececec !important;
          color: $aerolinea-black  !important;
          font-family: $ff-avenirLTStd-book  !important;
          font-size: $font-size-normal  !important;
        }
      }
    }
  }
}

